/**
 * Font Family
 */

@import url(https://fonts.googleapis.com/css?family=Lato|Roboto);

body {
    padding-top: 50px;
    font-family: Lato;
    font-size: 1.5em;
}

/**
 * Color
 */

nav, footer {
    background-color: #01579B;
    color: #ffffff;
}

section.bg-primary a {
    color: #ddd;
    font-weight: bold;
}

/**
 * Navbar
 */

nav a,
nav a:hover,
nav a:focus {
    color: #ffffff;
}

nav .icon-bar {
    background-color: #ffffff;
}

/**
 * Body
 */

header, section, footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

header img {
    margin: 20px auto;
    border-radius: 100%;
    width: 250px;
}

header .intro {
    text-align: center;
    font-size: 2em;
}

header .intro .title {
    font-size: 1.5em;
}

#portfolio .portfolio-img {
    margin: 0 0 30px;
    cursor: pointer;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

/**
 * Modal
 */

body.modal-open > header,
body.modal-open > footer,
body.modal-open > section,
body.modal-open > nav {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    display:block;
}

/**
 * Progress Bar
 */

.progress {
    position: relative;
    height: 25px;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
    color: #000;
}

/**
 * Social Icons
 */

.social-icons .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.8em;
    background-color: #000;
    border-radius: 50%;
    color: #FFF;
}

.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-f,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}

/**
 * Custom Icons
 */
.social-icons .fa-line {
    background-color: #00c300;
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 57px;
}
.social-icons .fa-line:before {
    content: "LINE";
}

.social-icons .fa-freecodecamp {
    background-color: darkgreen;
}

.social-icons .fa-freecodecamp:after {
    display: inline-block;
    width: 34px;
    height: 34px;
    content: "";
    background: url(./../images/freecodecamp.png) no-repeat 0 0;
    background-size: 100%;
    background-position-y: 12px;
}