body {
	padding-top: 50px;
}

nav a,
nav a:hover,
nav a:focus {
	color: #ffffff;
}

.bg-primary {
	background-color: #039BE5;
}

nav, footer {
	background-color: #01579B;
	color: #ffffff;
}

nav .icon-bar {
    background-color: #ffffff;
}

header, section, footer {
	padding-top: 50px;
	padding-bottom: 50px;
}

header img {
	margin: 20px auto;
	border-radius: 100%;
}

header .intro {
	text-align: center;
	font-size: 32px;
}

header .intro .title {
	font-size: 50px;
}

#portfolio .portfolio-img {
	margin: 0 0 30px;
	cursor: pointer;
}

/**
 * Modal with blur effect like iOS from
 * http://bootsnipp.com/snippets/featured/modal-with-blur-effect-like-ios
 */

body.modal-open > header,
body.modal-open > footer,
body.modal-open > section,
body.modal-open > nav {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    display:block;
}